Package: svarog
Version: VERSION
Section: misc
Priority: optional
Architecture: all
Depends: oracle-java8-installer | openjfx
Recommends: vlc
Suggests: empi
Maintainer: MDovgialo <marian.dowgialo@braintech.pl>
Description: Svarog EEG signal viewer
 License: GPLv3 (https://www.gnu.org/licenses/gpl-3.0.en.html)
