Package: [[name]]
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Depends: oracle-java8-installer | default-jre | openjdk-8-jre
Maintainer: MDovgialo <marian.dowgialo@braintech.pl>
Description: Svarog EEG signal viewer
