Package: svarog-fftsignaltool
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Depends: svarog
Maintainer: MDovgialo <marian.dowgialo@braintech.pl>
Description: FFTSignalTool plugin for svarog
 License: GPLv3 (https://www.gnu.org/licenses/gpl-3.0.en.html)
