Zbigniew Jędrzejewski-Szmek <zbyszek@in.waw.pl>
Marcin Szumski <marcin.szumski@students.mimuw.edu.pl>
Stanisław Findeisen <stf@eisenbits.com>
Michał Dobaczewski <michal.d08@gmail.com>
Michał Dobaczewski <mdobacz@mdobacz.tiger.com.pl>
Pawel Kordowski <pawel.kordowski@fuw.edu.pl>
Tomasz Sawicki <tomek@tomek-laptop.(none)>
