Package: svarog-[[name]]
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Depends: svarog
Maintainer: MDovgialo <marian.dowgialo@braintech.pl>
Description: Artifact rejection plugin for svarog
