Source: svarog
Section: java
Priority: optional
Maintainer:  Karol Auguštin <karol@augustin.pl>
Build-Depends: debhelper (>= 8.0.0),
	       maven-debian-helper,
	       maven2,
	       protobuf-compiler (>= 2.4),
	       javahelper,
Standards-Version: 3.9.1
Vcs-Git: git://git.braintech.pl/svarog.git
Vcs-Browser: http://git.braintech.pl/svarog.git

Package: svarog
Architecture: all
Depends: ${misc:Depends},
	java6-runtime | openjdk-7-jre | openjdk-6-jre,
Description: EEG signal viewer, annotator, analyzer and recorder. 
 It combines rich signal analysis capabilities with easy to use GUI.
 It is written in Java SE 6.

Package: svarog-plugin-tool
Architecture: all
Depends: ${misc:Depends},
	svarog,
Conflicts: svarog (<<0.6.1),
Description: Svarog plugin to satisfy Artifact and Stager depencies.

Package: svarog-plugin-fft
Architecture: all
Depends: ${misc:Depends},
	svarog,
Conflicts: svarog (<<0.6.1),
Description: Fast Fourier Transform Svarog plugin.

Package: svarog-plugin-stager
Architecture: all
Depends: ${misc:Depends},
	svarog,
	svarog-plugin-tool,
Conflicts: svarog (<<0.6.1),
Description: Stager Svarog plugin.

Package: svarog-plugin-artifact
Architecture: all
Depends: ${misc:Depends},
	svarog,
	svarog-plugin-tool,
Conflicts: svarog (<<0.6.1),
Description: Artifact Svarog plugin.
