Source: svarog
Section: java
Priority: optional
Maintainer:  Karol Auguštin <karol@augustin.pl>
Build-Depends: debhelper (>= 8.0.0),
	       maven-debian-helper,
	       libmaven-antrun-plugin-java,
	       maven2,
	       protobuf-compiler (>= 2.4),
	       javahelper,
Build-Depends-Indep:
	janino,
	libasm3-java,
	libcommons-math-java,
	libcommons-parent-java,
	libfreemarker-java,
	libgoogle-collections-java (>= 1.0),
	libgettext-commons-java,
	libjackson-json-java,
	libjson-java,
	libjettison-java,
	libjcommon-java,
	libjfreechart-java (>= 1.0.13-4),
	libjsignalml-java,
	libjtransforms-java,
	libprotobuf-java (>= 2.4),
	libnetty-java (>= 3.2.3.Final),
	libslf4j-java,
	libspring-beans-java,
	libspring-context-java,
	libspring-core-java,
	libeega-tag-library-java,
	libjmx-java,
	libxstream-java,
	libbuild-helper-maven-plugin-java,
	libjsignalml-java (>= 1.0-2),
Standards-Version: 3.9.1
Vcs-Git: git://git.braintech.pl/svarog.git
Vcs-Browser: http://git.braintech.pl/svarog.git

Package: svarog
Architecture: all
Depends: ${misc:Depends},
	janino,
	libasm3-java,
	libcommons-math-java,
	libcommons-parent-java,
	libfreemarker-java,
	libgoogle-collections-java (>= 1.0),
	libgettext-commons-java,
	libjackson-json-java,
	libjson-java,
	libjettison-java,
	libjcommon-java,
	libjfreechart-java (>= 1.0.13-4),
	libjmx-java,
	libjsignalml-java,
	libjtransforms-java,
	libprotobuf-java (>= 2.4.1-3),
	libnetty-java (>= 3.2.3.Final),
	libslf4j-java,
	libspring-beans-java,
	libspring-context-java,
	libspring-core-java,
	libeega-tag-library-java,
	libxstream-java,
	jarwrapper,
	java6-runtime,
	libjsignalml-java (>= 1.0-2),
	matching-pursuit (>= 5.1-1),
	svarog-plugin-fft,
Description: EEG signal viewer, annotator, analyzer and recorder. 
 It combines rich signal analysis capabilities with easy to use GUI.
 It is written in Java SE 6.

Package: svarog-plugin-tool
Architecture: all
Depends: ${misc:Depends},
	svarog,
Conflicts: svarog (<<0.6.1),
Description: Svarog plugin to satisfy Artifact and Stager depencies.

Package: svarog-plugin-fft
Architecture: all
Depends: ${misc:Depends},
	svarog,
Conflicts: svarog (<<0.6.1),
Description: Fast Fourier Transform Svarog plugin.

Package: svarog-plugin-stager
Architecture: all
Depends: ${misc:Depends},
	svarog,
	svarog-plugin-tool,
Conflicts: svarog (<<0.6.1),
Description: Stager Svarog plugin.

Package: svarog-plugin-artifact
Architecture: all
Depends: ${misc:Depends},
	svarog,
	svarog-plugin-tool,
Conflicts: svarog (<<0.6.1),
Description: Artifact Svarog plugin.
