#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

DEB_MAVEN_REPO = $(CURDIR)/debian/maven-repo
PACKAGE        = svarog
DEB_JAR_PACKAGE = $(PACKAGE)

mvn = mvn $(mvnflags)
mvnflags = -Dmaven.repo.local=$(DEB_MAVEN_REPO) -o
copy_repo = /usr/share/maven-debian-helper/copy-repo.sh

mvnflags += --projects svarog,plugins/FFTSignalTool,plugins/PluginToolCommon,plugins/Artifact
mvnflags += -Dmaven.test.skip=true

%:
	dh $@

override_dh_auto_configure:
	$(copy_repo) debian/
	mh_patchpoms -p$(DEB_JAR_PACKAGE) -v --debian-build \
	    --keep-pom-version --maven-repo=$(DEB_MAVEN_REPO)

override_dh_auto_build:
	$(mvn) package

override_dh_install:
	dh_install
	mh_install -v
	jh_classpath -v
	jh_exec -v

override_dh_auto_clean:
	rm -rf target
	rm -rf $(DEB_MAVEN_REPO)
	mh_unpatchpoms -p$(DEB_JAR_PACKAGE) -v
