#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

DEB_MAVEN_REPO = $(CURDIR)/debian/maven-repo
PACKAGE        = svarog svarog-plugin-tool svarog-plugin-fft svarog-plugin-stager svarog-plugin-artifact
DEB_JAR_PACKAGE = $(PACKAGE)

mvn = mvn $(mvnflags)
mvnflags = -Dmaven.repo.local=$(DEB_MAVEN_REPO)
mvnflags += --projects svarog,plugins/FFTSignalTool,plugins/PluginToolCommon,plugins/Artifact,plugins/Stager
mvnflags += -Dmaven.test.skip=true


%:
	dh $@

override_dh_auto_configure:
	mkdir -p $(DEB_MAVEN_REPO)
	cat debian/svarog.poms debian/svarog-plugin-fft.poms debian/svarog-plugin-tool.poms debian/svarog-plugin-artifact.poms debian/svarog-plugin-stager.poms > debian/all.poms

override_dh_auto_build:
	$(mvn) package

override_dh_install:
	dh_install
	mh_install -v
	jh_classpath -v
	jh_exec -v

override_dh_auto_clean:
	rm -rf target
	rm -rf $(DEB_MAVEN_REPO)
	rm -f debian/all.poms
