Package: svarog-stager
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Depends: svarog
Maintainer: MDovgialo <marian.dowgialo@braintech.pl>
Description: Automatic sleep staging plugin for svarog
